* {
		float: left;
		font-family: 'Fira Sans', sans-serif;
		border-left: 5px;
        border-right: 5px;
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
        background-color:white;
        font-size: 24px;
        font-weight: normal;
        color:black;
        margin:auto;
} ol {
	padding-top: 5px;
} 
.drawing {
	background-color: white;
	left:20vh;
	width: 683px;
	height:383px;
} img.resize {
	max-width:50%;
	max-height: 50%;
}