* {
    background-color:beige; 
    
    
} p {
    float: none;
    font-family: 'Raleway', sans-serif;
    border-left: 10px;
    border-right: 10px;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 24px;
    color:black;
    font-weight: normal;
} ol {
    float: none;
    font-family: 'Raleway', sans-serif;
    border-left: 10px;
    border-right: 10px;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 24px;
    color:black;
    font-weight: normal;
} h1 {
	font-size: 48px;
    font-weight: bold italic;
    font-family: 'Niramit', sans-serif;
    float: none;
    border-left: 10px;
    border-right: 10px;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    color:black;
    font-weight: normal;
} h2 {
    font-size: 32px;
    font-weight: italic;
    font-family: 'Niramit', sans-serif;
    float: none;
    border-left: 10px;
    border-right: 10px;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    color:black;
    font-weight: normal;
} .title {
    font-size: 32px;
    font-weight: italic;
    font-family: 'Niramit', sans-serif;
} .i {
    font-style: italic;
} .left {
    top: 0px;
    left: 0px;
    min-height: 100%;
    width:2%;
    background-color: #e0d026;
    position: fixed;
} .right {
    top: 0px;
    left: 98%;
    height: 100%;
    width: 2%;
    background-color: #e0d026;
    position: fixed;
}