* {
    background-color:black;  
    color:white;   
} p {
    float: none;
    font-family: 'Work Sans', sans-serif;
    border-left: 10px;
    border-right: 10px;
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 22px;
    color:white;
    font-weight: normal;
} ol {
    float: none;
    font-family: 'Work Sans', sans-serif;
    border-left: 10px;
    border-right: 10px;
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 22px;
    font-weight: normal;
} h1 {
	font-size:48px;
    text-align:center;
    padding-left: 15vw;
    padding-right: 15vw;
    font-family: 'Roboto Slab', serif;
    font-style:bold;
} h2 {
    font-size:32px;
    text-align:center;
    padding-left: 15vw;
    padding-right: 15vw;
    font-family: 'Roboto Slab', serif;
    font-style:bold;
} h3 {
    font-size:28px;
    text-align:center;
    padding-left: 15vw;
    padding-right: 15vw;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}